
<div class="center-panel">
	<h3>Forgotten password</h3>
	<hr />
	<div class="row">
		<div class="col-md-6 info">
			<p>Enter your RU login name to get started.</p>
		</div>
		<div class="col-md-6">
			<form method="GET" action="">
				<input type="text" class="form-control" placeholder="RU username" required autofocus />
				<div class="btn-controls pull-right">
					<a href="/" class="btn btn-default">Cancel</a>
					<button type="submit" class="btn btn-primary">Next</button>	
				</div>
			</form>
		</div>
	</div>
</div>

