
<div class="center-panel">
	<h3>Password management</h3>
	<hr/>
	<div class="row">
		<div class="col-md-6 info">
			<p>You can change your password as you like or you can reset it if you have forgotten it.</p>
		</div>
		<div class="col-md-6 options">
			<p><a href="/change">I want to change my password</a></p>
			<p><a href="/forgot">I forgot my password</a></p>
		</div>
	</div>
</div>