
<div class="center-panel">
	<h3>Forgotten password</h3>
	<hr />
	<div class="row">
		<div class="col-md-6 info">
			<p>Forgot your password? Don't worry, enter your social security number to get started.</p>
			<p>Hit <i>Cancel</i> to go back to RU's website.</p> 
		</div>
		<div class="col-md-6">
			@using (Html.BeginForm("Reset", "Home", FormMethod.Post))
			{
				<div class="form-group">
					@Html.TextBox("SSN", null, new
					{
						@class="form-control ssn-field", 
						@placeholder = "Social security number",
						@autofocus = true
					})
					@Html.ValidationMessage("Error", new {@class="text-danger"})
				</div>
				<hr/>
				<div class="btn-controls pull-right">
					<a href="http://www.ru.is" class="btn btn-default">Cancel</a>
					<button type="submit" class="btn btn-primary">Next</button>	
				</div>
			}
		</div>
	</div>
</div>

