@model RUPassReset.Service.Models.Password.Password

<div class="center-panel">
	<h3>Forgotten password</h3>
	<hr />
	<div class="row">
		<div class="col-md-6 info">
			<p>Email sent!</p>
		</div>
		<div class="col-md-6">
			<p>YAY</p>
		</div>
	</div>
</div>
