
@{
    ViewBag.Title = "Unable to verify";
}

<div class="center-panel">
	<h3>Forgotten password</h3>
	<hr />
	<div class="row">
		<div class="col-md-6 info error-panel">
			<p style="text-align: center;"><i class="fa fa-exclamation-triangle"></i></p>
			<p class="lead">Cannot verify!</p>
		</div>
		<div class="col-md-6">
			<p>We apologize but we cannot verify this token. Please try again.</p>
			<hr />
			<div class="btn-controls pull-right">
				<a href="/" class="btn btn-primary">Continue</a>
			</div>
		</div>
	</div>
</div>
